@font-face {
  font-family: 'fira_sanslight';
  src: url('../fonts/fira-sans-light/firasans-light-webfont.eot');
  src: url('../fonts/fira-sans-light/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fira-sans-light/firasans-light-webfont.woff2') format('woff2'),
  url('../fonts/fira-sans-light/firasans-light-webfont.woff') format('woff'),
  url('../fonts/fira-sans-light/firasans-light-webfont.ttf') format('truetype'),
  url('../fonts/fira-sans-light/firasans-light-webfont.svg#fira_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto/roboto-light-webfont.eot');
  src: url('../fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-light-webfont.woff') format('woff'),
  url('../fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
  url('../fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto/roboto-medium-webfont.eot');
  src: url('../fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-medium-webfont.woff') format('woff'),
  url('../fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
  url('../fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SEGOEUIL';
  src: url('../fonts/segoe-ui/SEGOEUIL.eot');
  src: local('SEGOEUIL'), url('../fonts/segoe-ui/SEGOEUIL.woff') format('woff'), url('../fonts/segoe-ui/SEGOEUIL.ttf') format('truetype');
}
