$width: 1020px;
$gutter: 20px;
$col: 12;
$col_width: $width/$col;
$prefix: false;

.col {
  display: block;
  float: left;
  margin-left: $gutter/2;
  margin-right: $gutter/2;
}

@for $i from 1 through $col {
  .col#{$i} {
    @extend .col;
    width: $i * $col_width - $gutter;
  }

  @if $prefix == true {
    .offset#{$i} {
      margin-left: $i * $col_width;
    }
  }
}