$baseColor: #2e3641;
$whiteColor: #ffffff;
$generatorSetupBgColor: #f1f1f5;
$lightRedColor: #f97e76;
$silverOne: #c1cfd9;
$picBlockBgColor: rgba(46, 54, 65, 0.64);
$sliderBackground: #dbe1e8;
$sliderRangeColor: #9eb2c0;

html {
  position: absolute;
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
}

body{
  background: url(../img/backgroung.jpg) 0 0 no-repeat;
  font-family: 'robotolight';
  font-weight: 300;
  color: $baseColor;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  width: 100%;

}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: $baseColor;
}

h1 {
  font-family: 'SEGOEUIL';
  color:  #ffffff;
  font-size: 2.25em;
  font-weight: 300;
  text-align: left;
}
h2 {
  font-size: 1.625em;
}
h3 {}
h4 {}
h5 {}

.after-clear {
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.wrapper{
  width: 100%;
  min-width: 1000px;
  position: relative;
}

.main-generator{
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

.main-picture__file,
.watermark__file{
  width: 219px;
  height: 27px;
  cursor: pointer;
}

.main-picture__title,
.watermark__title {
  display: block;
  margin: 0 0 8px 0;
  color: #2e3641;
  font-size: 14px;
}

.jq-file__name {
  height: 25px;
  padding: 0 50px 0 3px;
  border: 1px solid #9eb2c0;
  border-radius: 3px;
  color: #9eb2c0;
  font-size: 12px;
  line-height: 27px;

}
.jq-file__browse {
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 27px;
  background: url(../img/file_browse_bg.jpg);
}
