body{
  background: url(../img/backgroung.jpg) no-repeat;
  background-size: 100% 100%;
  font-family: 'robotolight';
}

.wrapper{
  width: 100%;
  min-width: 1000px;
  position: relative;
}

.main-generator{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}