$baseColor: #2e3641;
$whiteColor: #ffffff;
$generatorSetupBgColor: #f1f1f5;
$lightRedColor: #f97e76;
$silverOne: #c1cfd9;
$picBlockBgColor: rgba(46, 54, 65, 0.64);
$sliderBackground: #dbe1e8;
$sliderRangeColor: #9eb2c0;
$socialColorBorder: #8e9298;
$socialColor: #444a53;
$placeGridColor: #dae0e8;
$borderColor: #9eb2c0;

html {
  width: 100%;
  min-width: 1200px;
  min-height: 100%;
  display: table;
}

body{
  background: url(../img/backgroung.jpg) 0 0 no-repeat;
  font-family: 'robotolight';
  font-weight: 300;
  color: $baseColor;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: $baseColor;
}

h1 {
  font-family: 'SEGOEUIL';
  color: $whiteColor;
  font-size: 2.25em;
  font-weight: 300;
  text-align: left;
}
h2 {
  font-size: 1.625em;
}
h3 {}
h4 {}
h5 {}

.after-clear {
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.wrapper{
  width: 100%;
  min-width: 1200px;
  position: relative;
  overflow: hidden;
}

.main-generator{
  width: 960px;
  margin: 0 auto 37px;
  display: table;
  @extend .after-clear;
}

.main-picture__file,
.watermark__file{
  width: 219px;
  height: 27px;
  cursor: pointer;
}

.main-picture__title,
.watermark__title {
  display: block;
  margin: 0 0 7px 0;
  color: $baseColor;
  font-size: 0.875em;
}

.jq-file__name {
  height: 25px;
  padding: 0 50px 0 3px;
  border: 1px solid $sliderRangeColor;
  border-radius: 3px;
  color: $sliderRangeColor;
  font-size: 0.75em;
  line-height: 27px;

}
.jq-file__browse {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 27px;
  background: url(../img/sprite.png) -265px -20px;
  background-color: $lightRedColor;
  @include border-radius(0 4px 4px 0);
}

.big_img, .big_wm, .iframe {
  position: absolute;
  right: -100000000px;
}

.preloader {
  display: none;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 100;
}

.preloader__image {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  width: 50px;
  height: 50px;
  bottom: 50%;
}