@import "_normalize";
@import "compass";
@import "_grid";
@import "_fonts";
@import "_main";
@import "blocks/_lang-soc";
@import "blocks/_generator-picture";
@import "blocks/_generator-setup";
@import "blocks/_counters-block";
@import "blocks/_slider";
@import "blocks/_buttons";
@import "blocks/_footer";

