/*
buttons
*/
.btn {
  font-size: 1.125em;
  font-family: robotomedium;
  display: inline-block;
  border-radius: 3px;
  color: $generatorSetupBgColor;
  border: 0;
  outline: none;
}

.button-reset {
  @extend .btn;
  background: $silverOne;
  width: 99px;
  height: 42px;
  cursor: default;
}

.button-reset--hover{
  cursor: pointer;
  
  &:hover{
    background: $silverOneHover;
  }
}

.button-download {
  @extend .btn;
  cursor: default;

  background: $lightRedColor;
  width: 99px;
  height: 42px;
}

.button-download--hover{
  cursor: pointer;
  &:hover{
    background: $lightRedColorHover;
  }
}