$axisFont: "robotolight";
$counterNumFont: "SEGOEUIL";
$borderColor: #9eb2c0;

.generator-position-coordinates{
  margin-top: 12px;
  &:first-child{
    margin-top: 0;
  }
}
.generator-position-coordinates__axis{
  float: left;
}
.crd-axis{
  font-family: $axisFont;
  font-size: 16px;
  padding: 11px 0;
}
.generator-position-coordinates__window{
  float: left;
  margin-left: 6px;
}
.crd-window{
  width: 44px;
  height: 43px;
  border: 1px solid $borderColor;
  border-radius: 5px;
  font-family: $counterNumFont;
  // плохо выглядят цифры в 4 знака (-100)
  // поэтому сократил макетный шрифт на 2px
  font-size: 24px - 2px;
  overflow: hidden;

  //for vertical-align center
  position: relative;
}
.crd-window__num{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  text-align: center;

}
.generator-position-coordinates__arrow-list{
  float: left;
}
.crd-arrow-list{
  height: 44px;
  width: 25px;
}
.crd-arrow-list__item{
  height: 22px;
}
.crd-arrow-list__item--up{
  background: url(../img/sprite.png) no-repeat -295px 2px;
  cursor: pointer;
  &:hover{
    background: url(../img/sprite.png) no-repeat -316px 2px;
  }
}
.crd-arrow-list__item--down{
  background: url(../img/sprite.png) no-repeat -295px -22px;
  cursor: pointer;
  &:hover{
    background: url(../img/sprite.png) no-repeat -316px -22px;
  }
}