$axisFont: "robotolight";
$counterNumFont: "SEGOEUIL";

.generator-position-coordinates{
  margin-bottom: 12px;
  &:first-child{
    margin-top: 0;
  }
}
.generator-position-coordinates__axis{
  float: left;
}
.crd-axis{
  font-family: $axisFont;
  font-size: 16px;
  height: 30px;
  width: 10px;
  margin-top: 12px;
}

.crd-axis--x.crd-axis--letter:after{
  content: "X";
}

.crd-axis--y.crd-axis--letter:after{
  content: "Y";
}
.crd-axis--x.crd-axis--arrow{
  background: url(../img/sprite.png) no-repeat -225px -45px;
  height: 33px;
  width: 10px;
  margin-top: 5px;
}
.crd-axis--y.crd-axis--arrow{
  background: url(../img/sprite.png) no-repeat -249px -59px;
  height: 33px;
  width: 31px;
  margin-left: -21px;
}

.generator-position-coordinates__window{
  float: left;
  margin-left: 6px;
}
.crd-window{
  width: 44px;
  height: 43px;
  border: 1px solid $borderColor;
  border-radius: 5px;
  font-family: $counterNumFont;
  font-size: 24px - 2px;
  overflow: hidden;
}
.crd-window__num{
  width: 46px;
  height: 46px;
  text-align: center;
  background: $generatorSetupBgColor;
  margin-top: -6px;
  margin-left: -4px;
  outline: none;
}
.generator-position-coordinates__arrow-list{
  float: left;
  margin: 0 0 0 3px;
}
.crd-arrow-list{
  height: 44px;
  width: 18px;
}
.crd-arrow-list__item{
  height: 22px;
}
.crd-arrow-list__item--up{
  background: url(../img/sprite.png) no-repeat -300px 2px;
  cursor: pointer;
  &:hover{
    background: url(../img/sprite.png) no-repeat -321px 2px;
  }
}
.crd-arrow-list__item--down{
  background: url(../img/sprite.png) no-repeat -300px -22px;
  cursor: pointer;
  &:hover{
    background: url(../img/sprite.png) no-repeat -321px -22px;
  }
}
.crd-arrow-list__item--up-no-hover{
  cursor: default;
  &:hover{
    background: url(../img/sprite.png) no-repeat -300px 2px;
  }
}
.crd-arrow-list__item--down-no-hover{
  cursor: default;
  &:hover{
    background: url(../img/sprite.png) no-repeat -300px -22px;
  }
}