/*
generator-picture
*/

.generator-picture__wrap-result{
  position: relative;
  line-height: 534px;
  height: 534px;
  &:before{
    content: '';
    background: url(../img/sprite.png) -401px 0 no-repeat;
    width: 99px;
    height: 99px;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
//    z-index: 1;
  }
}

.generator-picture {
  @extend .after-clear;
  display: table-cell;
  padding: 10px 25px 25px 25px;
  background: $picBlockBgColor;
  width: 650px;
  margin: 0;
}

.generator-picture__result {
  width: 651px;
  height: 534px;
  background: $whiteColor;
  overflow: hidden;
}

.generator-picture__title {
  margin: 0 0 53px 0;
  line-height: 1.35em;
}
.generator-picture__image {
  position: relative;
  max-height: 534px;
  line-height: 534px;
  height: auto;
}
.generator-picture__watermark {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: auto;
}

.generator-picture__watermark, .generator-picture__img {
  max-width: 651px;
  max-height: 534px;
}

.generator-picture__img {
  vertical-align: middle;
}

.generator-picture__tile   {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 10000px;
  opacity: 0.5;
}
.generator-picture__tile-row {
  line-height: normal;
}