/*
lang-soc
*/
.lang-soc-block{
  position: absolute;
  left: 0;
  top: 50px;
}

.languages,
.social{
  list-style: none;
  margin: 0;
  padding: 0;
  background: rgba(241, 241, 245, 0.7);
}

.languages{
  margin-bottom: 20px;
}

.languages__item{
  border-bottom: 1px solid #8e9298;
  width: 43px;
  &:last-child{
    border-bottom: none;
  }
}

.languages__item-ru,
.languages__item-en{
  @extend .languages__item;
  a{
    font-family: SEGOEUIL;
    text-transform: uppercase;
    text-decoration: none;
    color: #8e9298;
    font-size: 1.250em;
    font-weight: 300;
    width: 43px;
    padding: 5px 0;
    display: block;
    text-align: center;
    &:hover{
      color: #444a53;
    }
  }
}

.social{
  position: relative;
  left: -43px;
  -webkit-transition: left 0.5s ease-out 0s;
  -moz-transition: left 0.5s ease-out 0s;
  -o-transition: left 0.5s ease-out 0s;
  transition: left 0.5s ease-out 0s;
  &:hover {
    left: 0;
  }
}

.social__item{
  width: 43px;
  display: table;
  background: rgba(241, 241, 245, 0.7);
  a{
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    width: 26px;
    height: 40px;
    display: table-cell;
    span{
      webkit-transition: background 0.5s;
      -moz-transition: background 0.5s;
      -o-transition: background 0.5s;
      transition: background 0.5s;
      display: block;
      margin: 0 auto;
    }
  }
}

.social__item-share{
  @extend .social__item;
  position: absolute;
  right: -43px;
  a{
    span {
      background: url(../img/sprite.png) -9px -10px no-repeat;
      width: 26px;
      height: 32px;
      margin-top: 3px;
    }
    &:hover{
      span {
        background: url(../img/sprite.png) -43px -10px no-repeat;
      }
    }
  }
}

.social__item-fb{
  @extend .social__item;
  a{
    span{
      background: url(../img/sprite.png) -227px -15px no-repeat;
      width: 15px;
      height: 27px;
      margin-top: 5px;
    }
    &:hover {
      span {
        background: url(../img/sprite.png) -250px -15px no-repeat;
      }
    }
  }
}

.social__item-tw{
  @extend .social__item;
  a{
    span{
      background: url(../img/sprite.png) -77px -20px no-repeat;
      width: 28px;
      height: 22px;
      margin-top: 9px;
    }
    &:hover {
      span {
        background: url(../img/sprite.png) -111px -20px no-repeat;
      }
    }
  }
}

.social__item-vk{
  @extend .social__item;
  a{
    span{
      background: url(../img/sprite.png) -147px -24px no-repeat;
      width: 32px;
      height: 18px;
      margin-top: 11px;
    }
    &:hover {
      span {
        background: url(../img/sprite.png) -187px -24px no-repeat;
      }
    }
  }
}