/*
main-img
*/

.upload__main-picture{
  position: relative;
  @extend .after-clear;
  margin-bottom: 25px;
}

.main-picture__title{
  font-family: 'robotolight';
  font-size: 0.875em;
  font-weight: 300;
  margin-bottom: 8px;
  display: inline-block;
}

.main-picture__stylization{
  width: 220px;
  overflow: hidden;
}

.main-picture__stylization-input{
  height: 23px;
  line-height: 23px;
  padding-left: 5px;
  color:  $borderColor;
  font-family: 'SEGOEUIL';
  font-size: 0.75em;
  font-weight: 300;
  border: 1px solid $borderColor;
  border-right: none;
  width: 174px;
  float: left;
  border-radius: $borderRadius 0 0 $borderRadius ;
}

.main-picture__stylization-button {
  background: $lightRedColor;
  width: 40px;
  height: 25px;
  line-height: 25px;
  float: right;
  border-radius: 0 $borderRadius $borderRadius 0;
  span {
    background: url(../img/sprite.png) no-repeat -273px -25px;
    width: 21px;
    height: 16px;
    display: block;
    margin: 4px 0 0 9px;
  }
}

.main-picture__file{
  bottom: 0;
  opacity: 0;
  filter: alpha(Opacity=0);
  padding: 0 0 0 5px;
  position: absolute;
  width: 215px;
  height: 25px;
}
