/*
place-grid
*/

.generator-positio__main-square{
  position: relative;
  width: 101px;
  height: 101px;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
}

.generator-positio__square{
  display: table;
  width: 100px;
  height: 100px;
  background: #dae0e8;
  border-collapse: collapse;
  border: 1px solid #9eb2c0;
  overflow: hidden;
  border-radius: 3px;
}

.square-tr{
  display: table-row;
  border: 1px solid #9eb2c0;
}

.square-td {
  display: table-cell;
  width: 33.333%;
  border: 1px solid #9eb2c0;
  &:hover{
    background: $lightRedColor;
  }
}

.position-vertical,
.position-horizontal{
  position: absolute;
  background: $lightRedColor;
  display: inline-block;
}

.position-vertical{
  height: 100%;
  top: 0;
}

.position-horizontal{
  width: 100%;
  left: 0;
  top: 50%;
}