doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
    meta(content="telephone=no" name="format-detection")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico")
    link(rel="SHORTCUT ICON" href="favicon.ico")
    title watermark
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    link(rel="stylesheet" href="dist/css/style.min.css")
    <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  body
    div.wrapper
      div.lang-soc-block
        ul.languages
          li.languages__item-ru
            a(href="") рус
          li.languages__item-en
            a(href="") eng
        ul.social
          li.social__item-share
            a(href="") share
              span
          li.social__item-fb
            a(href="", onclick="Share.facebook('URL','TITLE','IMG_PATH','DESC')") facebook
              span
          li.social__item-tw
            a(href="", onclick="Share.twitter('URL','TITLE')") twitter
              span
          li.social__item-vk
            a(href="", onclick="Share.vkontakte('URL','TITLE','IMG_PATH','DESC')") vkontakte
              span
      div.main-generator
        div.generator-picture
          h1.generator-picture__title Генератор водяных знаков
          div.generator-picture__result

        div.generator-setup
          h2.generator-setup__title Настройки
          div.generator-setup__upload
            form(action="" method="").upload__picture
              div.upload__main-picture
                label(for="upload-picture").main-picture__title Исходное изображение
                input(type="file" placeholder="image.png")#upload-picture.main-picture__file.js-upload
              div.upload__watermark
                label(for="upload-watermark").watermark__title Водяной знак
                input(type="file" placeholder="image.png")#upload-watermark.watermark__file.js-upload
          div.generator-position
            h3.generator-position__title Положение
            div.generator-position__top
              h3.generator-position__title
              div.generator-position__switch
                a(href="").switch__mono mono
                a(href="").switch__multi multi
            div.generator-position__bottom
              div.generator-positio__square
                div.square-tr
                  div.square-td
                  div.square-td
                  div.square-td
                div.square-tr
                  div.square-td
                  div.square-td
                  div.square-td
                div.square-tr
                  div.square-td
                  div.square-td
                  div.square-td
              div.generator-position__coordinates
                div.generator-position-coordinates.clearfix
                  div.generator-position-coordinates__axis
                    div.crd-axis X
                  div.generator-position-coordinates__window
                    div.crd-window 
                      div.crd-window__num.crd-window__num--x 0
                  div.generator-position-coordinates__arrow-list
                    div.crd-arrow-list
                      div.crd-arrow-list__item.crd-arrow-list__item--up
                      div.crd-arrow-list__item.crd-arrow-list__item--down
                div.generator-position-coordinates.clearfix
                  div.generator-position-coordinates__axis
                    div.crd-axis Y
                  div.generator-position-coordinates__window
                    div.crd-window 
                      div.crd-window__num.crd-window__num--y 0
                  div.generator-position-coordinates__arrow-list
                    div.crd-arrow-list
                      div.crd-arrow-list__item.crd-arrow-list__item--up
                      div.crd-arrow-list__item.crd-arrow-list__item--down
              div.generator-transparency
                h3.generator-transparency__title Прозрачность
                div.generator-transparency__slider
                  span.slider__handle
              div.generator-buttons
                button.button-reset Сбросить
                button.button-download Скачать

      footer.main-footer
        div.footer
          p &#169; 2015, Это мой сайт, пожалуйста, не копируйте и не воруйте его
    script(src="dist/js/scripts.min.js")