doctype html
html
  head
    base(href="http://start-project/")
    meta(charset="UTF-8")
    meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
    meta(content="telephone=no" name="format-detection")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico")
    link(rel="SHORTCUT ICON" href="favicon.ico")
    title watermark
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    link(rel="stylesheet" href="dist/css/style.min.css")
    //[if lt IE 9]
      script(src="https://html5shim.googlecode.com/svn/trunk/html5.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
  body
    div.wrapper
      div.lang-soc-block
        ul.languages
          li.languages__item.languages__item-ru
            a(href="") рус
          li.languages__item.languages__item-en
            a(href="") eng
        ul.social
          li.social__item.social__item-share
            a(href="") share
          li.social__item.social__item-fb
            a(href="") facebook
          li.social__item.social__item-tw
            a(href="") twitter
          li.social__item.social__item-vk
            a(href="") vkontakte
      div.main-generator
        div.generator-picture
          h1.generator-picture__title Генератор водяных знаков
          div.generator-picture__result

        div.generator-setup
          h2.generator-setup__title Настройки
